<!-- <nav class="navbar fixed-top navbar-toggleable-md navbar-light" id="mainNav">
	<app-button-header-component></app-button-header-component>
	<app-nav-menu></app-nav-menu>
	<app-nav-menu-item></app-nav-menu-item>
</nav> -->
<nav class="navbar fixed-top navbar-toggleable-md navbar-light" id="mainNav">
	<app-button-header-component></app-button-header-component>
    <div class="container">
        <app-nav-menu></app-nav-menu>
        <div class="collapse navbar-collapse" id="navbarExample">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#download">Download</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#features">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>